<!-- <section class="property-binding"> -->
  <!-- <article>
    <h2>Interpolation</h2>
    <p>String by interpolation: {{ url }}</p>
    <p>Expressions {{ 1 + 5 * getFifty() === 251 }}</p>
  </article>
  <article>
    <h2>Property binding 2 ways</h2>
    <img src="{{ urlImage }}" alt="Computer image">
    <img [src]="urlImage" alt="Computer image">
    <img bind-src="urlImage" alt="Computer image">
  </article>
  <article>
    <h2>Class and Style binding</h2>
    <div>
      Choose a class:
      <select #classChosen (change)="0">
        <option value="alert-success">Success</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>
      <div class="alert {{classChosen.value}}">Color according to option</div>
      <div
        class="alert {{classChosen.value}}"
        [style.display]="classChosen.value === 'alert-danger' ? 'block' : 'none'"
      >
        This div shows just on danger
      </div>
      <div
        class="alert" role="alert"
        [class.alert-success]="classChosen.value === 'alert-success'"
      >Success
    </div>
      <div
        class="alert" role="alert"
        [class.alert-info]="classChosen.value === 'alert-info'"
      >Info
    </div>
      <div
        class="alert" role="alert"
        [class.alert-warning]="classChosen.value === 'alert-warning'"
      >Warning
    </div>
      <div
        class="alert" role="alert"
        [class.alert-danger]="classChosen.value === 'alert-danger'"
      >Danger
    </div>
    </div>
  </article> -->
  <!-- <article>
    <h2>Event binding</h2>
    <div>
      <button
      class="btn btn-primary"
      (click)="handleButtonClick()"
      >
        Click Here
      </button>
      <br>
      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="saveInputText(inputField.value)"
        (blur)="saveInputText(inputField.value)"
        #inputField
      >
      <p>Current value: {{ inputText }}</p>
      <p>Saved value: {{ savedInput }}</p>
      <br><br>
      <span
        (mouseover)="onMouseOver()"
        (mouseout)="onMouseOver()"
        [class.highlight] = "isMouseOver"
      >
        Hover mouse here
      </span>
    </div>
  </article> -->
  <!-- <app-my-form></app-my-form>
</section> -->
<section class="input-output-properties">
  <article>
    <h2>Input/Output properties</h2>
    <app-input-property [prop]="varName"></app-input-property>

    <counter
      [value]="initialCounterValue"
      (newValue)="onValueChange($event)"
    ></counter>
  </article>
</section>
